html, body {
    height: 100%;
    background-color: white; /*rgb(142,242,242);*/
    
    font-family: 'Open Sans', sans-serif;

}
h1, h2, h3, h2 small, p.lead, h3, h4, dt {
    /*font-weight: lighter;*/
    font-family: 'Open Sans Condensed', sans-serif;

}

/* COLOR SCHEME
http://paletton.com/#uid=53S0u0kab6OgIyucriHem2uju04

dark grey 08090D
black 000000
dirty grey 1B1C25
dirty blue 434966
nice blue 6270B4
*/

/* NAV BAR:
  
*/
.navbar-default {
    background-color: #08090D;
    border-color: #6270B4;
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    text-transform:uppercase;
}
.navbar-default .navbar-brand {
	color: #cccccc;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #cccccc;
}
.navbar-default .navbar-nav > li > a {
	color: #cccccc;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #6270B4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #6270B4;
}
.navbar-default .navbar-toggle {
	border-color: #6270B4;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #6270B4;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #cccccc;
}
.navbar-default .navbar-link {
	color: #cccccc;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #cccccc;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #6270B4;
	}
}



#nco, #members, #location {
    /*
      set offset in containers to have scrollspy working correctly
      http://stackoverflow.com/questions/9288482/how-do-i-set-the-offset-for-scrollspy-in-bootstrap
    */
    padding-top: 100px;
    margin-top: -40px;
    margin-bottom:40px;
    
}


/*
   footer
*/

footer {
    
    margin-top:100px;
    
    color: #eee;
    padding:1em;
    
    font-weight:lighter;
    
    background: #1B1C25; 
    
}
#white_cross {
    background: url('../img/pg8-logo-inv.png') no-repeat top left;
    background-size: contain;
    min-height:200px;
} 
footer a, footer a:active, footer a:hover, footer a:visited {
    color:#eee;
}



/*
  first header, image
*/
#jumbotron {
    background: url(../img/pg8-placeholder.jpg) no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    
}


.u {
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
}

.u2 {
    background: purple;
}

.u4 {
    background: green;
}

.u1 {
    background: red;
}

.ut {
    background: black;
}